body {
    background-color: beige;
    margin: 0;
    height: 100%;
}

.header{
  background-color: black;
  color: beige;
  height: 12vh;
  display: flex;
  align-items: center;
  font-size: 3rem;
  padding-left: 2rem;
}

.main{
  height: 88vh;
  display: flex;
  flex-direction: row;
  background-color: yellow;
}

.left-panel{
  background-color: red;
  height: 100%;
  width: 20vw;
}

.main-panel{
  background-color: blue;
  width: 100%;
}